.apply{
    color: crimson;
    background-color: cornsilk;
    margin: 15px;
    padding: 15px;
    border: 5px;
    border-color: coral;
    box-shadow: 5px 5px 5px 3px;
    text-align: center;
    width: 50%;
    
}